@import "tailwindcss";

:root {
    --bg: #252324;
    --surface: #393536;
    --surface-muted: #41292c;
    --text: #eae0d5;
    --text-muted: #c8c0b6;
    --border: #575253;

    --accent: #8c86aa;
    --accent-strong: #792359;
    --accent-warm: #eae0d5;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
